aside {
  color: $basic-blue;
  min-width: 27%;
  max-width: 30%;
  list-view{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .state-item {
    min-width: 350px;
    max-width: 350px;
    &.sponsored {
      min-width: 350px;
      max-width: 350px;
      box-shadow: 0px 0px 15px 0px #ff7500 !important;
    }
  }
}