.state-item {
  margin: 15px 0px;
  display: flex;
  height: auto;
  padding: 0 5px 0 5px;
  flex-grow:  1;
  flex-direction: column;
  color: #0f0f0f;
  .picture {
    position: relative;
    img, .list-check {
      float: left
    }
    .list-check {
      margin-left: 10px
    }
    .tag {
      position: absolute;
      width: 50px;
      right: -5px;
      top: -70px;
      padding: 3px;
      border-radius: 5px;
      color: $white;
      text-align: center;
      &.buy {
        background: $basic-blue;
      }
      &.rent {
        background: $basic-orange;
      }
    }
  }
}