html, body {
  height: 100%;
}
.viewport {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}
.page-header {
  height: 5vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  align-items: center;
}

footer {
  height: 5vh;
  color: $white;
  background: $basic-orange;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  section {
    height: 100%;
    width: 100%;
    padding-left: 15px;
  }
}