<div class="viewport">
  <header class="page-header" role="banner">
      <div class="content-wrapper">
        <div class="page-header__content vertical-center-container float-left">

          <h1>{{$ctrl.title}}</h1>
        </div>
        <div class="page-header__content vertical-center-container float-right">
          <div class="vertical-center">

            <!-- account tab goes here -->
          </div>
        </div>
      </div>
    </header>
  <nav class="filters">
    <feature-filter available-features="$ctrl.availableFeatures" update-states="$ctrl.filterStatesByFeatures(selected)"></feature-filter>
    <commercialization-filter default-value="{{$ctrl.defaultCommercializationType}}" update-states="$ctrl.updateStatesByCommercialization(value)"></commercialization-filter>
  </nav>
  <main>
    <aside>
      <list-view real-states="$ctrl.realStates"></list-view>
    </aside>
    <section>
      <group-view real-states="$ctrl.realStates"></group-view>
    </section>
  </main>
  <footer>
    <span>Created by: Alfredo Castañeda</span>
  </footer>
</div>
