group-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 90%;
  width: 100%;
  .category {
    padding: 15px;
  }
  .group-row, .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    item {
      width: 75%;
      .state-item {
        &.sponsored {
          box-shadow: 0px 0px 15px 0px #ff7500 !important;
        }
      }
    }
  }
}